.all_artists_body {
    padding-bottom: 20px;
    padding-top: 5px;
    width: 100%;
    color: white;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(91, 87, 115);
  }

.all_artists_body h1{
  margin: 30px 32px;
}  