.body {
    padding: 30px;
    width: 100%;
    overflow-x: auto;
    flex: 1;
    color: white;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(91, 87, 115);
  }
  
.search_bar{
  position: absolute;
  top: 20px;
  right: 30px;
}

.search_bar input{
  background: transparent;
  border: 0px;
}


  