/* .songRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 100;
    color: white;
  }
  
.songRow:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
} */