.songRow a{
  text-decoration: none;
  color: white;
}

.songRow h1{
  display: inline-block;
  margin: 0;
  margin-right: 15px;
  font-size: 15px;
}

.songRow p{
  margin: 0;
  font-size: 13px;
}

.songRow {
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
  margin-bottom: 15px;
}

.songRow:hover {
  cursor: pointer;
  /* background-color: black; */
  opacity: 0.8;
}

.songRow__info {
  margin-left: 10px;
  width: 100%;
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.music_video{
  margin: 20px auto;
  align-items: center;
  text-align: center;
}

.fa-play{
  margin-right: 20px;
}